package views

templ seoDocumentTags() {
	<meta name="theme-color" content={ themeColor }/>
	<meta name="color-scheme" content="dark"/>
	<meta name="application-name" content={ siteName }/>
	<meta name="author" content="MBV Labs"/>
	<link rel="me" href={ githubURL }/>
	<link rel="me" href={ xURL }/>
	<meta property="og:site_name" content={ siteName }/>
	<meta property="og:locale" content="en_US"/>
	<meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="630"/>
	<meta property="og:image:type" content="image/png"/>
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content={ twitterSite }/>
	<meta name="twitter:creator" content={ twitterCreator }/>
}

templ seoPageTags(seo pageSEO) {
	<meta name="robots" data-inertia="robots" content={ seo.Robots }/>
	<meta name="description" data-inertia="description" content={ seo.Description }/>
	<link rel="canonical" data-inertia="canonical" href={ seo.Canonical }/>
	<meta property="og:type" data-inertia="og:type" content={ seo.Type }/>
	<meta property="og:title" data-inertia="og:title" content={ seo.Title }/>
	<meta property="og:description" data-inertia="og:description" content={ seo.Description }/>
	<meta property="og:url" data-inertia="og:url" content={ seo.Canonical }/>
	<meta property="og:image" data-inertia="og:image" content={ defaultOgImage }/>
	<meta property="og:image:alt" data-inertia="og:image:alt" content={ defaultOgAlt }/>
	<meta name="twitter:title" data-inertia="twitter:title" content={ seo.Title }/>
	<meta name="twitter:description" data-inertia="twitter:description" content={ seo.Description }/>
	<meta name="twitter:image" data-inertia="twitter:image" content={ defaultOgImage }/>
	<meta name="twitter:image:alt" data-inertia="twitter:image:alt" content={ defaultOgAlt }/>
	if seo.JSONLD != "" {
		@jsonLDScript(seo.JSONLD)
	}
}
